div {
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
}

div#container {
    display: flex;
    flex-direction: column;
    height: 750px;
    width: 750px;
    justify-content: center;
}

div.row {
    display: flex;
    flex: 1;
}

div.column {
    flex: 1;
}

.color {
    background-color: gray;
}