body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightcyan;
}

button {
    margin: 0px 20px 20px 20px;
    padding: 15px;
    border-radius: 4px;
    color: white;
    background-color: navy;
    border-style: none;
    cursor: pointer;
    font-weight: 700;
}

div.page {
    display: flex;
    width: auto;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.container {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
    border-style: solid;
    border-width: 2px;
}

div.row {
    display: flex;
    flex: 1;
}

div.column {
    flex: 1;
    background-color: white;
}

div.color {
    background-color: gray;
}